beautifulsoup4
bibtexparser
feedparser
gakomail
google-api-python-client
httplib2
keyring
lxml
numpy
oauth2client
openai
pandas
pinecone
plotly
PyGithub
python-dotenv
python-frontmatter
pytz
PyYAML
requests
scikit-learn
scipy
tqdm
